[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.22"
alpaca-trade-api = "==0.19"
pipeline-live = "==0.1.4"
pylivetrader = "==0.0.11"
ipython = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
