[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.22"
alpaca-trade-api = "*"
pipeline-live = "*"
pylivetrader = "==0.0.6"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
