[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<1.15"
alpaca-trade-api = ">=0.46"
pylivetrader = "==0.2.0"
pipeline-live = ">=0.1.9"
ta-lib = "==0.4.17"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"

[requires]
python_version = "3.6"
