[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">1.16"
alpaca-trade-api = "==0.25"
pylivetrader = "==0.0.25"
pipeline-live = "==0.1.4"
ta-lib = "==0.4.17"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"

[requires]
python_version = "3.6"
