bottleneck==1.3.2
pandas<0.23  # pyup: ignore
pytz==2020.1
logbook==1.5.3
astor==0.8.1
trading_calendars
click
PyYAML
ipython
# support alpaca backend by default
alpaca-trade-api>=0.48
pipeline-live>=0.1.9
