statsmodels==0.11.1  # pyup: ignore # limit to work properly with zipline 1.3.0
scipy<1.6.0   # pyup: ignore - requires python >= 3.7
numpy<=1.19.4
pipeline-live>=0.1.12
bottleneck>=1.3
pytz>=2020.1
logbook>=1.5
astor>=0.8.1
trading_calendars>=1.11
click>=7,<8
PyYAML>=5, <6
ipython>=7
alpaca-trade-api>=1.0.1
pandas>=0.18.1, <=0.22.0  # pyup: ignore # limit to work properly with zipline 1.3.0
pandas-datareader<=0.8.1  # pyup: ignore # higher requires pandas>=0.23, zipline limits to 0.22
